<div class="container">
  <h1>Ngx Mat Datatable Sample</h1>
  <mat-card>
    <ngx-mat-datatable
      [displayedColumns]="testColumns"
      [data]="testData"
      [showIndex]="true"
      [showFilter]="true"
      [selectEnabled]="true"
      [selectAllEnabled]="false"
      [expandedDetailEnabled]="true"
      [expandedDetailRef]="nestedComponentRef"
    >
      <h1>Test From Parent</h1>
    </ngx-mat-datatable>
  </mat-card>

  <ng-template #nestedComponentRef>
    <app-test></app-test>
  </ng-template>
</div>
