<div class="container">
  <h1>Ngx Mat Datatable Sample</h1>
  <mat-card>
    <ngx-mat-datatable
      [displayedColumns]="testColumns"
      [data]="testData"
      [showIndex]="false"
      [showFilter]="true"
      [selectEnabled]="false"
      [selectAllEnabled]="false"
      [expandedDetailEnabled]="true"
      [expandedDetailRef]="nestedComponentRef"
      [actionEnabled]="true"
      [customContainerStyles]="customStyles"
      (rowItemClicked)="handleRowItemClicked($event)"
    >
      <h1>Test From Parent</h1>
    </ngx-mat-datatable>
  </mat-card>

  <ng-template #nestedComponentRef>
    <app-test></app-test>
  </ng-template>
</div>
